<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
     url('<%= cl_image_path 'https://static1.squarespace.com/static/5527dc92e4b04be388ca48e4/5527e4a1e4b079f2c38d11e3/5638df8ae4b07293802143ed/1461276389227/trillium-brewing-taps-2.jpg?format=1500w', crop: :fill %>')">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h1>WELCOME</h1>
      </div>
    </div>
  </div>
</div>


