
.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-image: url('http://chainimage.com/images/old-paper-background-photo-background-1-jpg.jpg');
  background-size: cover !important;
  color: $metal;
  position: relative;
  border-radius: 25px;
  margin-bottom: 20px;
  text-shadow: 2px 2px white;
}
.card-logo {
  position: absolute;
  right: 40px;
  top: 40px;
}
.card-location {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 25px;
}
.card-name {
  position: absolute;
  bottom: 10px;
  left: 30px;
  font-size: 44px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.5;
}
